<div class="card-item" (click)="navigateToProject()">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Project No. </mat-card-title>
        <mat-card-subtitle>Medium</mat-card-subtitle>
        <!--                  <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Image of a Shiba Inu">-->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      This will be some text
      and some more text
      and some more info on the project
    </mat-card-content>
  </mat-card>
</div>
